<div ng-controller="userInfoController">
    <user-menu></user-menu>
    <div class="container fix-top-elm">
        <user-profile></user-profile>
        <div class="fix-top-elm">
            <div class="row">
                <div class="col-md-6">
                    <div id="hide-parent" class="panel panel-default">
                        <div class="panel-heading">Info
                            <span id="hide-child" class="pull-right"><a href="#!/edit/profile" class="btn btn-default btn-sm fa fa-pencil"></a></span>
                        </div>
                        <div class="panel-body">
                            <p>Full name: {{fullName}}</p>
                            <p>Gender: {{gender}} <i class="{{genderType}}"></i></p>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Friends <span class="badge" ng-show="friendsCount">{{friendsCount}}</span>
                        </div>
                        <div class="panel-body">
                            <friends-box></friends-box>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <!--<post></post>-->
                    <div class="panel panel-default" ng-repeat="post in posts">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-2">
                                    <a href="#!/users/{{post.author.username}}">
                                        <img class="img" src="{{post.author.profileImageData}}"
                                             alt="profile picture"/>
                                    </a>
                                </div>
                                <div class="col-lg-10">
                                    <div class="row">
                                        <a href="#!/users/{{post.author.username}}" class="btn btn-link">{{post.author.name}}</a> posted:
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{post.date | date:'MM/dd/yyyy h:mma'}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        {{post.postContent}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <post-options></post-options>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>