<div class="container">
    <div class="jumbotron">
        <logo></logo>
        <h2 class="text-center">Login</h2>
        <div class="clear">&nbsp;</div>
        <div class="jumbotron">
            <form class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                        <label for="inputUsername" class="col-lg-2 control-label">Username</label>
                        <div class="col-lg-10">
                            <div class="inner-addon left-addon">
                                <i class="glyphicon glyphicon-user"></i>
                                <input type="text" class="form-control" id="inputUsername" placeholder="Username">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                        <div class="col-lg-10">
                            <div class="inner-addon left-addon">
                                <i class="glyphicon fa fa-lock"></i>
                                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Remember me
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary fa fa-sign-out"> Login</button>
                            <a href="#!/register" class="btn btn-link pull-right">register</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>