<h2 class="text-center">Register</h2>
<div class="jumbotron">
    <form class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <label for="inputUsername" class="col-lg-2 control-label">Username</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputUsername" placeholder="Username">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <label for="inputRepeatPassword" class="col-lg-2 control-label">Repeat Password</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="inputRepeatPassword" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <label for="inputFullName" class="col-lg-2 control-label">Full Name</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputFullName" placeholder="Full name">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Gender</label>
                <div class="col-lg-10">
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                            Male
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                            Female
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                            Other
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">Register</button>
                    <a href="#!/login" class="btn btn-link pull-right">login</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>