<div>
    <div class="row">
        <div class="col-lg-4 img-friend-preview" ng-repeat="friend in rows.top">
            <a href="#!/users/username">
                <img class="img" src="{{friend.profileImageData}}"
                     alt="profile picture"/>
            </a>
        </div>
    </div>
    <div class="clear">&nbsp;</div>
    <div class="row">
        <div class="col-lg-4" ng-repeat="friend in rows.bottom">
            <img class="img" src="{{friend.profileImageData}}"
                 alt="profile picture"/>
        </div>
    </div>
</div>