<div>
    <div class="panel panel-default edit-info" ng-show="fullName">
        <div class="panel-body">
            <div class="inline" ng-show="fullNameInfo">Full name {{fullName}}</div>
            <div class="inline" ng-hide="fullNameInfo">
                <form name="editGender" ng-submit="edit('fullName', newFullName)">
                    <input type="text" name="fullName" id="fullName" placeholder="{{fullName}}" ng-model="newFullName"/>
                    <button class="btn btn-default btn-sm hidden"></button>
                </form>
            </div>
            <span class="pull-right"><button class="btn btn-default btn-sm fa fa-pencil" ng-click="showEdit('fullName')"></button></span>
        </div>
    </div>
    <div class="panel panel-default edit-info" ng-show="gender">
        <div class="panel-body">
            <div class="inline" ng-show="genderInfo">Gender: {{gender}} <i class="{{genderType}}"></i></div>
            <div class="inline" ng-hide="genderInfo">
                <form name="editGender" ng-submit="edit('gender', newGender)">
                    <div class="form-group">
                        <div class="col-lg-10">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" value="1" checked="" required ng-model="newGender">
                                    Male
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" value="2" required ng-model="newGender">
                                    Female
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" value="3" required ng-model="newGender">
                                    Other
                                </label>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-default btn-sm hidden"></button>
                </form>
            </div>
            <span class="pull-right"><button class="btn btn-default btn-sm fa fa-pencil" ng-click="showEdit('gender')"></button></span>
        </div>
    </div>
    <div class="panel panel-default edit-info" ng-show="email">
        <div class="panel-body">
            <div class="inline" ng-show="emailInfo">Email: {{email}}</div>
            <div class="inline" ng-hide="emailInfo">
                <form name="editGender" ng-submit="edit('email', newEmail)">
                    <input type="text" name="email" id="email" placeholder="{{email}}" ng-model="newEmail"/>
                    <button class="btn btn-default btn-sm hidden"></button>
                </form>
            </div>
            <span class="pull-right"><button class="btn btn-default btn-sm fa fa-pencil" ng-click="showEdit('email')"></button></span>
        </div>
    </div>
</div>