<div class="panel panel-default">
    <div class="panel-heading">Make a post</div>
    <form ng-submit="submitPost(postContent)">
        <div class="panel-body">
            <div class="form-group">
                <textarea class="form-control post-area" rows="3" ng-model="postContent"></textarea>
            </div>
        </div>
        <div class="panel-footer">
            post as {{fullName}} <img class="img img-sm" src="{{image}}" alt=""/>
            <button href="#" class="btn btn-primary btn-sm pull-right">Post</button>
        </div>
    </form>
</div>