<div class="btn-group-sm">
    <a href="#" class="btn btn-link">Like</a>
    <!--<div class="btn-group">-->
        <!--<a href="#" target="_self" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Comment</a>-->
        <!-- -->
        <!--<div class="dropdown-menu comment-post">-->
            <!--<div class="panel panel-default">-->
                <!--<div class="panel-body">-->
                    <!--<textarea class="form-control post-area" rows="3"></textarea>-->
                    <!--<a href="post" class="btn btn-primary">Make Comment</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <a href="#" class="btn btn-link">Comment</a>
    <div class="panel panel-default">
        <div class="panel-body">
            <textarea class="form-control post-area" rows="3"></textarea>
            <a href="post" class="btn btn-primary">Make Comment</a>
        </div>
    </div>
</div>