<div class="btn-group-sm">
    <div class="inline" ng-show="post.author.isFriend || post.wallOwner.isFriend">
        <button ng-hide="post.liked" class="btn btn-link fa fa-thumbs-up" ng-click="likePost(post.id)"> Like</button>
        <button ng-show="post.liked" class="btn btn-link fa fa-thumbs-down" ng-click="unlikePost(post.id)"> Unlike</button>
    </div>
    {{post.likesCount}}
    <!--<div class="btn-group">-->
        <!--<a href="#" target="_self" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Comment</a>-->
        <!-- -->
        <!--<div class="dropdown-menu comment-post">-->
            <!--<div class="panel panel-default">-->
                <!--<div class="panel-body">-->
                    <!--<textarea class="form-control post-area" rows="3"></textarea>-->
                    <!--<a href="post" class="btn btn-primary">Make Comment</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <a href="#" class="btn btn-link">Comment</a>
    <div class="panel panel-default">
        <form class="form" ng-submit="postComment()">
            <div class="panel-body">
                <div class="col-lg-12">
                    <input class="form-control" value=""/>
                </div>
            </div>
            <div class="panel-footer">
                Comment as {{fullName}} <img ng-show="profileImage" src="{{profileImage}}" alt="imageProfile"/>
                <button href="post" class="btn btn-primary btn-sm pull-right">Make Comment</button>
            </div>
        </form>
    </div>
</div>