<div>
    <div class="col-md-6 right-divider" >
        <div class="col-md-2">
            <img class="img friend-request-img" src="{{row.leftCol.user.profileImageData}}"
                 alt=""/>
        </div>
        <div class="col-md-4">{{row.leftCol.user.name}}</div>
        <button class="btn btn-primary btn-sm" ng-click="approveRequest(row.leftCol.user.id, 'approved')">Accept Request</button>
        <button class="btn btn-default btn-sm" ng-click="approveRequest(row.leftCol.user.id, 'rejected')">Reject Request</button>
    </div>
    <div class="col-md-6" ng-show="row.rightCol">
        <div class="col-md-2">
            <img class="img friend-request-img" src="{{row.leftCol.user.profileImageData}}"
                 alt=""/>
        </div>
        <div class="col-md-4">{{row.rightCol.user.name}}</div>
        <button class="btn btn-primary btn-sm" ng-click="approveRequest(row.leftCol.user.id, 'approved')">Accept Request</button>
        <button class="btn btn-default btn-sm" ng-click="approveRequest(row.leftCol.user.id, 'rejected')">Reject Request</button>
    </div>
</div>