<div>
    <div>
        <div class="panel panel-default cover-img">
            <div class="panel-body">
                <img ng-hide="coverImage" class="img-thumbnail img" src="{{coverImage}}"
                     alt="cover photo keep calm and learn to code"/>
            </div>
        </div>
    </div>
    <div class="profile-img" ng-hide="profileImage">
        <img src="{{profileImage}}"
             alt="profile picture"/>
    </div>
    <a href="#" target="_self" class="btn btn-link customize-name-link">{{fullName}}</a>
    <wall-user-menu></wall-user-menu>
</div>