<div class="panel panel-default wall-user-menu">
    <div class="panel-body">
        <ul class="nav nav-pills navbar-left nav-pills-centralize navbar-custom-settings">
            <li class="{{wallActive}}">
                <a href="#!/users/kliko" class="btn btn-link">Wall</a>
            </li>
            <li class="{{infoActive}}">
                <a href="#!/edit/profile" class="btn btn-link">Info</a>
            </li>
            <li class="{{friendsActive}}">
                <a href="#!/users/kliko/friends" class="btn btn-link">Friends <span class="badge">6969</span></a>
            </li>
            <li>
                <a href="#" target="_self" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">More <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#" target="_self">Some other functions</a></li>
                    <li class="divider"></li>
                    <li><a href="#" target="_self">Cool yeah!</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>